<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ru.reimu.demo.springreactordemo.pojo.mapper.UserMapper">

    <select id="getUser" resultType="ru.reimu.demo.springreactordemo.pojo.dto.UserDto">
        select * from blog_auth where id = #{uid}
    </select>
</mapper>