<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ru.reimu.demo.reactor.more.mapper.ArticleMapper">

    <select id="getArticle" resultType="ru.reimu.demo.reactor.more.dto.ArticleDto">
        select * from blog_article where id = #{artId}
    </select>
</mapper>